# @format

{
  'singleQuote': true,
  'arrowParens': 'always',
  'printWidth': 120,
  'insertPragma': true,
  'tabWidth': 2,
  'useTabs': true,
  'quoteProps': 'consistent',
  'trailingComma': 'all',
  'bracketSpacing': true,
}
